.searchInput {
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    min-width: 30rem;
    padding: 1rem 2rem;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    color: var(--grey);
    opacity: 0.5;
}
